@model ViewFactoryExample.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Detail";
}

<div>Student:</div>
<p>@Model.Name</p>

<div>Gender:</div>
<p>@Model.Gender</p>

<div>Grade:</div>
<p>@Model.Grade</p>

<div>School:</div>
<p>@Model.School</p>